


.linhaModa{
    background-color:#bb86fc;
    color: white;
    text-align: center;
    
}
.linhaCasa{
    background-color: #00c4b4;
    color: white;
    text-align: center;
}
.valores{
    color:white;
    background-color: #424250;
    text-align: center;
   
   
   
    
}